$greenColor: rgb(41, 180, 138);
$whiteColor: white;

.header {
  height: 8rem;
  background-color: $greenColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-inner {
    color: $whiteColor;

    .header-title {
      font-size: 2rem;
    }

    .header-subtitle {
      font-size: 0.8rem;
    }
  }
}

.main {
  margin-top: 2rem;

  h2 {
    color: $greenColor;
  }

  .nav-list {
    width: 40rem;
    margin: 1rem auto;
  }

  .file-list {
    width: 40rem;
    margin: 0 auto;
  }
}
