$greenColor: rgb(41, 180, 138);
$whiteColor: white;
$fontSize: 0.8rem;

.header {
  height: 8rem;
  background-color: $greenColor;
  display: flex; // 实现标题的水平垂直居中
  justify-content: center;
  align-items: center;

  .header-inner {
    color: $whiteColor; // 标题的字体颜色

    .header-title {
      font-size: 2rem;

      a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
      }
    }

    .header-subtitle {
      font-size: $fontSize; // 副标题说明字体的大小
    }
  }
}

.main {
  width: 90%;
  margin: 1rem auto; // 水平居中, 上下margin值设为1rem

  h2.list-name {
    color: $greenColor; // 字体颜色
  }

  .nav-list {
    .nav-items {
      font-size: $fontSize;
      overflow: hidden;
      margin: 1rem; // 导航列表子项的外间距
  
      li {
        float: left;
        margin-right: 1rem;
  
        &:hover {
          color: $greenColor;
          cursor: pointer;
        }
      }
    }
  }

  .file-list {
    .file-items {
      font-size: $fontSize;
      margin: 1rem; // 文件列表子项的外间距

      .firstline {
        border-bottom: 1px solid;
        position: relative;

        // last update固定宽度位于最右部分
        span:last-child {
          display: inline-block;
          width: 6.4rem;
          position: absolute;
          right: 0;
        }
      }

      li {
        padding: 0.2rem 0;
        position: relative;
        overflow: hidden;

        &:hover {
          background-color: rgb(221, 234, 221);
        }

        .filename {
          width: calc(100% - 6.4rem); // 文件名称宽度根据文件更新时间的宽度计算
          display: inline-block;
          color: inherit;
          text-decoration: none;
          cursor: pointer;
        }

        // 文件更新时间固定宽度位于最右
        .filetime {
          display: inline-block;
          width: 6.4rem;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}